<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.egs3d.ui.categories.3d"
            class="org.egs3d.ui.views.SceneRenderView"
            id="org.egs3d.ui.views.sceneRender"
            name="%View_SceneRender"/>
      <view
            category="org.egs3d.ui.categories.3d"
            class="org.egs3d.ui.views.SceneExplorerView"
            id="org.egs3d.ui.views.sceneExplorer"
            name="%View_SceneExplorer"/>
      <view
            category="org.egs3d.ui.categories.3d"
            class="org.egs3d.ui.views.DiagnosticView"
            id="org.egs3d.ui.views.diagnostic"
            name="%View_Diagnostic"/>
      <category
            id="org.egs3d.ui.categories.3d"
            name="%Category_3D"/>
      <view
            category="org.egs3d.ui.categories.3d"
            class="org.egs3d.ui.views.PreviewView"
            id="org.egs3d.ui.views.preview"
            name="%View_Preview"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.egs3d.ui.perspectives.SceneConstructionPerspective"
            id="org.egs3d.ui.perspectives.sceneConstruction"
            name="%Perspective_SceneConstruction">
      </perspective>
      <perspective
            class="org.egs3d.ui.perspectives.SceneRenderPerspective"
            fixed="true"
            id="org.egs3d.ui.perspectives.sceneRender"
            name="%Perspective_SceneRender"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.egs3d.ui.perspectives.sceneConstruction">
         <viewShortcut id="org.egs3d.ui.views.sceneExplorer"/>
         <viewShortcut id="org.egs3d.ui.views.sceneRender"/>
         <viewShortcut id="org.egs3d.ui.views.diagnostic"/>
         <viewShortcut id="org.egs3d.ui.views.preview"/>
         <perspectiveShortcut id="org.egs3d.ui.perspectives.sceneConstruction"/>
         <perspectiveShortcut id="org.egs3d.ui.perspectives.sceneRender"/>
         <view
               id="org.egs3d.ui.views.sceneExplorer"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"/>
         <view
               id="org.egs3d.ui.views.sceneRender"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               visible="false"/>
         <view
               id="org.egs3d.ui.views.preview"
               ratio="0.5"
               relationship="bottom"
               relative="org.egs3d.ui.views.sceneExplorer"/>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               ratio="0.6"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               />
         <view
               id="org.egs3d.ui.views.diagnostic"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.egs3d.ui.perspectives.sceneRender">
         <view
               closeable="false"
               id="org.egs3d.ui.views.sceneRender"
               moveable="false"
               ratio="1"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.egs3d.ui.actionSets.default"
            label="Actions par défaut"
            visible="true">
         <menu
               id="org.egs3d.ui.menus.help"
               label="%Menu_Help">
            <separator name="about"/>
         </menu>
         <menu
               id="org.egs3d.ui.menus.window"
               label="%Menu_Window">
            <separator name="views"/>
         </menu>
         <menu
               id="org.egs3d.ui.menus.insert"
               label="%Menu_Insert">
            <separator name="light"/>
         </menu>
         <menu
               id="org.egs3d.ui.menus.edit"
               label="%Menu_Edit">
            <separator name="cut"/>
            <separator name="delete"/>
         </menu>
         <menu
               id="org.egs3d.ui.menus.file"
               label="%Menu_File">
            <separator name="closeAll"/>
            <separator name="saveAs"/>
            <separator name="export"/>
            <separator name="import"/>
            <separator name="quit"/>
         </menu>
         <action
               class="org.egs3d.ui.actions.CloseAllAction"
               id="org.egs3d.ui.actions.closeAll"
               label="%Action_CloseAll"
               menubarPath="org.egs3d.ui.menus.file/closeAll"
               style="push"/>
         <action
               class="org.egs3d.ui.actions.CloseAction"
               id="org.egs3d.ui.actions.close"
               label="%Action_Close"
               menubarPath="org.egs3d.ui.menus.file/closeAll"
               style="push"/>
         <action
               class="org.egs3d.ui.actions.OpenAction"
               id="org.egs3d.ui.actions.open"
               label="%Action_Open"
               menubarPath="org.egs3d.ui.menus.file/closeAll"
               style="push"/>
         <menu
               id="org.egs3d.ui.menus.fileNew"
               label="%Action_New"
               path="org.egs3d.ui.menus.file/closeAll">
         </menu>
         <action
               class="org.egs3d.ui.actions.NewSceneAction"
               icon="icons/etool16/newfile_wiz.gif"
               id="org.egs3d.ui.actions.newScene"
               label="%Action_NewScene"
               menubarPath="org.egs3d.ui.menus.file/org.egs3d.ui.menus.fileNew/new"
               style="push"
               toolbarPath="org.egs3d.ui.menus.fileNew/newScene">
            <enablement>
               <or>
                  <objectClass name="org.egs3d.core.resources.ISceneObject"/>
                  <objectClass name="org.eclipse.core.resources.IResource"/>
               </or>
            </enablement>
         </action>
         <action
               class="org.egs3d.ui.actions.NewProjectAction"
               icon="icons/etool16/new_wiz.gif"
               id="org.egs3d.ui.actions.newProject"
               label="%Action_NewProject"
               menubarPath="org.egs3d.ui.menus.file/org.egs3d.ui.menus.fileNew/new"
               style="push"
               />
         <action
               class="org.egs3d.ui.actions.SaveAs"
               icon="icons/etool16/saveas_edit.gif"
               id="org.egs3d.ui.actions.saveAs"
               label="%Action_SaveAs"
               menubarPath="org.egs3d.ui.menus.file/saveAs"
               style="push"/>
         <action
               class="org.egs3d.ui.actions.SaveAction"
               icon="icons/etool16/save_edit.gif"
               id="org.egs3d.ui.actions.save"
               label="%Action_Save"
               menubarPath="org.egs3d.ui.menus.file/saveAs"
               style="push"
               toolbarPath="org.egs3d.ui.menus.file/save">
            <enablement>
               <or>
                  <objectClass name="org.eclipse.core.resources.IResource"/>
                  <objectClass name="org.egs3d.core.resources.ISceneObject"/>
               </or>
            </enablement>
         </action>
         <action
               class="org.egs3d.ui.actions.ExportAction"
               icon="icons/etool16/export_wiz.gif"
               id="org.egs3d.ui.actions.export"
               label="%Action_Export"
               menubarPath="org.egs3d.ui.menus.file/export"
               style="push"/>

         <action
               class="org.egs3d.ui.actions.ImportAction"
               icon="icons/etool16/import_wiz.gif"
               id="org.egs3d.ui.actions.import"
               label="%Action_Import"
               menubarPath="org.egs3d.ui.menus.file/export"
               style="push">
            <enablement>
               <and>
                  <not>
                     <objectClass name="org.eclipse.core.resources.IProject"/>
                  </not>
                  <or>
                     <objectClass name="org.eclipse.core.resources.IResource"/>
                     <objectClass name="org.egs3d.core.resources.ISceneObject"/>
                  </or>
               </and>
            </enablement>
         </action>
         <action
               class="org.egs3d.ui.actions.QuitAction"
               id="org.egs3d.ui.actions.quit"
               label="%Action_Quit"
               menubarPath="org.egs3d.ui.menus.file/quit"
               style="push"/>
         <action
               class="org.egs3d.ui.actions.AboutAction"
               id="org.egs3d.ui.actions.about"
               label="%Action_About"
               menubarPath="org.egs3d.ui.menus.help/about"
               style="push"/>
         <action
               class="org.egs3d.ui.actions.ShowViewAction"
               id="org.egs3d.ui.actions.showView"
               label="%Action_ShowViewMenu"
               menubarPath="org.egs3d.ui.menus.window/views"
               style="push"/>
         <action
               class="org.egs3d.ui.actions.DeleteResourceAction"
               enablesFor="+"
               icon="icons/etool16/delete_edit.gif"
               id="org.egs3d.ui.actions.delete"
               label="%Action_Delete"
               menubarPath="org.egs3d.ui.menus.edit/delete"
               style="push"
               toolbarPath="org.egs3d.ui.menus.fileNew/save">
            <selection class="org.eclipse.core.resources.IResource"/>
         </action>
         <action
               class="org.egs3d.ui.actions.PasteAction"
               icon="icons/etool16/paste_edit.gif"
               id="org.egs3d.ui.actions.paste"
               label="%Action_Paste"
               menubarPath="org.egs3d.ui.menus.edit/cut"
               style="push"/>
         <action
               class="org.egs3d.ui.actions.CopyAction"
               icon="icons/etool16/copy_edit.gif"
               id="org.egs3d.ui.actions.copy"
               label="%Action_Copy"
               menubarPath="org.egs3d.ui.menus.edit/cut"
               style="push"/>
         <action
               class="org.egs3d.ui.actions.CutAction"
               icon="icons/etool16/cut_edit.gif"
               id="org.egs3d.ui.actions.cut"
               label="%Action_Cut"
               menubarPath="org.egs3d.ui.menus.edit/cut"
               style="push"/>
         <action
               class="org.egs3d.ui.actions.LightAction"
               icon="icons/obj16/lgt_obj.gif"
               id="org.egs3d.ui.actions.light"
               label="%Action_Light"
               menubarPath="org.egs3d.ui.menus.insert/light"
               style="push"/>
         <action
               class="org.egs3d.ui.actions.GeometryAction"
               icon="icons/obj16/shp_obj.gif"
               id="org.egs3d.ui.actions.geometry"
               label="%Action_Geometry"
               menubarPath="org.egs3d.ui.menus.insert/light"
               style="push"/>
         <action
               class="org.egs3d.ui.actions.BackgroundAction"
               icon="icons/obj16/bgd_obj.gif"
               id="org.egs3d.ui.actions.background"
               label="%Action_Background"
               menubarPath="org.egs3d.ui.menus.insert/light"
               style="push"/>
      </actionSet>
   </extension>

</plugin>
