<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.egs3d.ui.categories.3d"
            class="org.egs3d.ui.views.SceneGraphRenderView"
            id="org.egs3d.ui.views.sceneGraphRender"
            name="%SceneRender_name"/>
      <view
            category="org.egs3d.ui.categories.3d"
            class="org.egs3d.ui.views.SceneGraphExplorerView"
            id="org.egs3d.ui.views.sceneGraphExplorer"
            name="%SceneExplorer_name"/>
      <view
            category="org.egs3d.ui.categories.3d"
            class="org.egs3d.ui.views.DiagnosticView"
            id="org.egs3d.ui.views.diagnostic"
            name="%Diagnostic_name"/>
      <category
            id="org.egs3d.ui.categories.3d"
            name="%Category_3D"/>
   </extension>

</plugin>
