<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="egs"
            id="org.egs3d.core.resources.egs"
            name="EGS3D"
            priority="normal"/>
   </extension>

</plugin>
