<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.egs3d.rcp.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         id="egs3d"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.egs3d.rcp.application"
            name="%Product">
         <property
               name="aboutText"
               value="%About_text"/>
      </product>
   </extension>

</plugin>
