<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.egs3d.rcp.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%SceneGraphConstruction_name"
            class="org.egs3d.rcp.internal.perspectives.SceneGraphConstructionPerspective"
            id="org.egs3d.rcp.perspectives.sceneGraphConstruction">
      </perspective>
      <perspective
            class="org.egs3d.rcp.internal.perspectives.SceneGraphRenderPerspective"
            id="org.egs3d.rcp.perspectives.sceneGraphRender"
            name="%SceneGraphRender_name"/>
   </extension>
   <extension
         id="egs3d"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.egs3d.rcp.application"
            name="%Product_name">
         <property
               name="aboutText"
               value="%Product_name"/>
      </product>
   </extension>

</plugin>
